<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />


    <application
        android:name=".CMOBoost"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CrimsonSkillBoostMobileV2"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Authentication Activities -->
        <activity android:name=".LoginActivity" />
        <activity android:name=".CreateAccount" />
        <activity android:name=".CreatePassword" />
        <activity android:name=".CreateAccountPath" />
        <activity android:name=".EmailConfirmation" />
        <activity android:name=".ForgetPassword1Activity" />

        <!-- Profile and Account Activities -->
        <activity android:name=".SetupProfile" />
        <activity android:name=".TermsAndCondition" />
        <activity android:name=".AccountPage" />
        <activity android:name=".EditProfile" />

        <!-- Home and Navigation Activities -->
        <activity android:name=".Home" />
        <activity android:name=".StructuredPathActivity" />
        <activity android:name=".SubjectDetailsAvailableCourse" />
        <activity android:name=".SubjectDetailsEnrolledCourse" />

        <!-- Quiz Activities -->
        <activity android:name=".QuizListActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".ResultActivity" />

        <!-- Task Activities -->
        <activity android:name=".TaskPath1Activity" />
        <activity android:name=".TaskPath2Activity" />
        <activity android:name=".TaskPath3Activity" />

        <!-- Code Activities -->
        <activity android:name=".CodingPathActivity" />
        <activity android:name=".TopicsPageActivity" />
<!--        <activity android:name="." />-->


    </application>

</manifest>